page-home {

    .firstTimeSlides
    {
        background: "#f4f4f4";
    }

    .slideIcon
    {
        height: 96px;
        width: 96px;
    }

    .slideContent
    {
        padding: 10px;
    }

    .strike-through
    {
        text-decoration: line-through;
    }
}
